*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Color-Gray-100: #F2F2F2;
    --Color-Gray-200: #D9D9D9;
    --Color-Gray-300: #808080;
    --Color-Gray-400: #333333;
    --Color-Gray-500: #262626;
    --Color-Gray-600: #1A1A1A;
    --Color-Gray-700: #0D0D0D;
    --Color-Purple: #8284FA;
    --Color-PurpleDark: #5E60CE;
    --Color-Blue: #4EA8DE;
    --Color-BlueDark: #1E6F9F;
    --Color-Danger: #E25858;

    --font-size-base: 14px;
    --font-size-sn: 12px;
    --font-size-large: 16px;
}

body {
    padding: 4rem;
    background-color: var(--Color-Gray-600);
    font-family: Arial, Helvetica, sans-serif;
}

.task-item {
    display: flex;
    gap: 12px;
    padding: 16px;
    background-color: var(--Color-Gray-500);
    border-radius: 8px;
}

.task-item-checkbox {
    display: block;
    width: 40px;

}

.task-item-description {
    color: var(--Color-Gray-100);
    font-size: var(--font-size-base);
}

.input {
    display: block;
    width: 100%;
    padding: 16px;
    background-color: var(--Color-Gray-500);
    border: 1px solid var(--Color-Gray-500);
    outline: none;
    color: var(--Color-Gray-300);
    font-size: var(--font-size-large);
    border-radius: 8px;
    margin-bottom: 20px;
}

.input:focus {
    border: 1px solid var(--Color-PurpleDark);
    color: var(--Color-Gray-100);
}

.input-checkbox {
    position: relative;
    cursor: pointer;
    width: 0;
}

.input-checkbox[type=checkbox]::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border: 2px solid var(--Color-Blue);
    background-color: var(--Color-Gray-500);
    border-radius: 50%;
}

.input-checkbox[type=checkbox]:checked::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border: 2px solid var(--Color-PurpleDark);
    border-radius: 50%;
    background-color: var(--Color-PurpleDark);
}

.input-checkbox[type=checkbox]:checked::after {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 10px;
    border: 1px solid var(--Color-Gray-100);
    top: 3.5px;
    left: 7.5px;

    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    /*border: 2px solid var(--Color-PurpleDark);
    border-radius: 50%;
    background-color: var(--Color-PurpleDark);*/
}